<!DOCTYPE html>
<html lang="en">
<head>
    <title>Giriş Paneli</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login/css/main.css">

</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" action="#" method="post">
                    <span class="login100-form-title">
                        Giriş Paneli
                    </span>
                    <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Kullanıcı adı giriniz">
                        <input class="input100" type="email" name="Username" required>
                        <span class="focus-input100" data-placeholder="Kullanıcı Adı"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-50" data-validate="Parola Giriniz">
                        <input class="input100" type="password" name="Password" required>
                        <span class="focus-input100" data-placeholder="Şifre"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn m-b-25">
                            Giriş Yap
                        </button>
                    </div>
                </form>
                <form class="login100-form validate-form" action="Register">
                    <button class="login100blue-form-btn" name="Register">
                        Kayıt Ol
                    </button>
                </form>
            </div>
        </div>
    </div>


    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <script src="js/main.js"></script>

</body>
</html>